body {
    padding: 10px;
}

input {
    margin: 5px;
}

label {
    display: inline-block;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: column;
}

textarea {
    height: 300px;
    resize: none;
}

button {
    margin-top: 10px;
}